<form class="personal-form">
  <div>
    <label for="weight">weight:</label>
    <input type="text" id="weight" />
  </div>
  <div>
    <label for="goal_weight">goalweight:</label>
    <input type="text" id="goal_weight" />
  </div>
  <div>
    <label for="user_id">User Id:</label>
    <input type="text" id="user_id" />
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>

<script src="/javascript/personal.js"></script>
