<link rel="stylesheet" href="/css/style.css">
<form class="personal-form pure-form pure-form-aligned">
     <fieldset>
  <div class="pure-control-group">
    <label for="weight">weight:</label>
    <input type="text" id="weight" />
  </div>
  <div class="pure-control-group">
    <label for="goal_weight">goalweight:</label>
    <input type="text" id="goal_weight" />
  </div>
  <div class="pure-control-group">
    <label for="user_id">User Id:</label>
    <input type="text" id="user_id" />
  </div>
  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Create</button>
  </div>
  </fieldset>
</form>

<script src="/javascript/personal.js"></script>
