<link rel="stylesheet" href="/css/style.css">
<form class="signup-form pure-form pure-form-aligned">
      <fieldset>
  <div class="pure-control-group">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="pure-control-group">
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">signup</button>
  </div>
  </fieldset>
</form>

<a href="/login">need to log in instead?</a>

<script src="/javascript/signup.js"></script>
