<form class="stats-form">
  <div>
    <label for="activity">Activity:</label>
    <input type="text" id="activity" />
  </div>
  <div>
    <label for="distance">Distance:</label>
    <input type="text" id="distance" />
  </div>
  <div>
    <label for="calories_burned">Calories Burned:</label>
    <input type="text" id="calories_burned" />
  </div>
  <div>
    <label for="calories_intake">Calories Intake:</label>
    <input type="text" id="calories_intake" />
  </div>
  <div>
    <label for="water">Water Intake:</label>
    <input type="text" id="water" />
  </div>
  <div>
    <label for="user_id">User Id:</label>
    <input type="text" id="user_id" />
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>

<script src="/javascript/stats.js"></script>
