{{!-- <link rel="stylesheet" href="/css/style.css"> --}}
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">


<form class="stats-form pure-form pure-form-aligned">
  <fieldset>
    <div class="pure-control-group">
      <label for="activity">Activity:</label>
      <input type="text" id="activity" />
    </div>
    <div class="pure-control-group">
      <label for="distance">Distance:</label>
      <input type="text" id="distance" />
    </div>
    <div class="pure-control-group">
      <label for="calories_burned">Calories Burned:</label>
      <input type="text" id="calories_burned" />
    </div>
    <div class="pure-control-group">
      <label for="calories_intake">Calories Intake:</label>
      <input type="text" id="calories_intake" />
    </div>
    <div class="pure-control-group">
      <label for="water">Water Intake:</label>
      <input type="text" id="water" />
    </div>
    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Create</button>
    </div>
  </fieldset>
</form>



<script src="/javascript/stats.js"></script>